<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Doctors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
    <div class="container" style="position: fixed; left:30%; top:15%;">
        {{#each display}}
        <div class="card mb-4" style="max-width: 600px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="d.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h4 class="card-title" style="color:darkviolet">{{this.d_name}}</h4>
                        <p class="card-text" style="font-size: 13.5px;">{{this.d_qualification}} <br> {{this.d_exp}} years of experience <br> {{this.d_type}}</p>
                        <p class="card-text"><small class="text-muted"><mark style="background-color:rgb(228, 214, 214)">{{this.s1}}</mark> <mark style="background-color:rgb(228, 214, 214)">{{this.s2}}</mark> <mark style="background-color: rgb(228, 214, 214)">{{this.s3}}</mark></small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body pt-5">
                        <i class='far fa-envelope'></i> <small>{{this.d_email}}</small><br>
                        <i class="fas fa-stethoscope"></i> <small>{{this.d_type}}</small><br>
                        <i class="far fa-clock"></i> <small>{{this.t}}</small><br>
                        <i class="far fa-money-bill-alt"></i> ₹<small>{{this.d_amount}}</small>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>