<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <title>Patient Home</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/patient_home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://www.babylonhealth.com/assets/images/header/babylon-health-logo-mobile.png" width="40" height="39" class="d-inline-block align-top" alt="">
            <span style="font-size: 26px; font-family: 'Righteous', cursive; color:rgb(57, 17, 121);">SMART <span style="color: rgb(96, 109, 228);">HEALTH</span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" align="right">
                
                </div>
            </div>
                <span class="navbar-text">
                    <a class="nav-item nav-link" href="/patient_appointment"><i class='far fa-calendar-alt' style='font-size:21px; color: rgb(88, 90, 228)'></i>&nbsp;&nbsp;<span style="color: rgb(88, 90, 228)">Book Appointment</span></a>
                </span>
                <span class="navbar-text">
                    <a class="nav-item nav-link" href="/insurance_claim"><i class='far fa-file-alt' style='font-size:21px; color: rgb(88, 90, 228)'></i>&nbsp;&nbsp;<span style="color: rgb(88, 90, 228)">Insurance Claim</span></a>
                </span>
                <span class="navbar-text pr-5">
                    <a class="nav-item nav-link" href="/logout"><span  style="color: rgb(88, 90, 228)">Logout</span></a>
                </span>
        </nav>

    <div class="container pt-5">
        <h2 class="text-center">Upload your insurance document</h2><br><br>
        <div class="container">
            <form method="POST" action="upload" enctype="multipart/form-data">
            <div class="form-row col-6" style="margin-left: 26%;">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="insfile" accept="">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            <button type="submit" class="btn btn-outline-primary" name="submit1"> Submit </button>&nbsp;&nbsp;<span style="color: red; font-size: 14px;">{{message}}</span>
            </form>
        </div>
        
        <div class="container col-7 p-5">
            <table class="table ">
                <thead class="thead-info">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Uploaded Date</th>
                        <th></th>
                        {{!-- <th scope="col">Contact</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.uploaded_date}}</td>
                            <td><form method="POST" action="viewPdf">
                                <input type="text" name="pdfFile" id="" value={{this.name}} hidden>
                                <button type="submit" class="btn btn-link" name="submit2">View</button>
                            </form></td>
                            {{!-- <td>{{this.contact}}</td> --}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="text center" align="center">
            <span style="color: rgb(91, 81, 226);">Made with</span> &nbsp;<img src="https://www.babylonhealth.com/assets/images/header/babylon-health-logo-mobile.png" width="32" height="29"  alt="">
        </div>
</body>
</html>